{% extends 'applicant/base.html' %}
{% load static %}
{% block title %} Change Password {% endblock title %}
{% block styles %}
  <!-- General CSS Files -->
  <link rel="stylesheet" href="{% static 'applicant/assets/css/app.min.css' %}">
  <link rel="stylesheet" href="{% static 'applicant/assets/bundles/bootstrap-social/bootstrap-social.css' %}">
  <link rel="stylesheet" href="{% static 'applicant/assets/bundles/summernote/summernote-bs4.css' %}">
  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'applicant/assets/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'applicant/assets/css/components.css' %}">
  <!-- Custom style CSS -->
  <link rel="stylesheet" href="{% static 'applicant/assets/css/custom.css' %}">
  <link rel='shortcut icon' type='image/x-icon' href="{% static 'applicant/assets/img/favicon.ico' %}"/>
{% endblock styles %}
{% block content %}
        <section class="section">
          <div class="section-body">
            <div class="row mt-sm-4">
              <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                  <form id="edit-profile" method="post" action="{% url 'applicant:change_password' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-header">
                      <h4>Change Password</h4>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="form-group col-md-12 col-12">
                          <label>Current Password</label>
                          <input type="password" class="form-control" name="old_password" id="id_old_password" required>
                          <div id="error-old-password" class="text-danger"></div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-md-6 col-12">
                          <label>New Password</label>
                          <input type="password" class="form-control" name="new_password1" id="id_new_password1" required>
                          <div id="error-new-password1" class="text-danger"></div>
                        </div>
                        <div class="form-group col-md-6 col-12">
                          <label>Confirm new Password</label>
                          <input type="password" class="form-control" name="new_password2" id="id_new_password2" required>
                          <div id="error-new-password2" class="text-danger"></div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer text-right">
                      <button class="btn btn-primary" type="submit"><i class="fas fa-address-book"></i> Save Changes</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>
        {% endblock content %}
{% block scripts %}
  <!-- General JS Scripts -->
  <script src="{% static 'applicant/assets/js/app.min.js' %}"></script>
  <!-- JS Libraies -->
  <script src="{% static 'applicant/assets/bundles/summernote/summernote-bs4.js' %}"></script>
  <!-- Page Specific JS File -->
  <!-- Template JS File -->
  <script src="{% static 'applicant/assets/js/scripts.js' %}"></script>
  <!-- Custom JS File -->
  <script src="{% static 'applicant/assets/js/custom.js' %}"></script>
  <script>
    $(document).ready(function() {
        $("#edit-profile").submit(function(event) {
           event.preventDefault();
           $.ajax({ data: $(this).serialize(),
                    type: $(this).attr('method'),
                    url: $(this).attr('action'),
                    enctype: "multipart/form-data",
                    async: false,
                    beforeSend: function() {
                        $("#error-old-password").html('');
                        $("#error-new-password1").html('');
                        $("#error-new-password2").html('');
                    },
                    success: function(response) {
                         console.log(response);
                         if(response['message']) {
                             iziToast.success({
                              title: 'Profile Updated! ',
                              message: response['message'],
                              position: 'topRight'
                            });
                         }
                         if(response['info']) {
                             iziToast.info({
                              title: 'Info',
                              message: response['info'],
                              position: 'topRight'
                            });
                         }
                         if(response['form']) {
                           if(response['form']['old_password']) {
                               $("#error-old-password").html(response['form']['old_password']);
                           }
                           if(response['form']['new_password1']) {
                               $("#error-new-password1").html(response['form']['new_password1']);
                           }
                           if(response['form']['new_password2']) {
                               $("#error-new-password2").html(response['form']['new_password2']);
                           }
                         }
                         if(response['error']) {
                             $("#message").html("<div class='alert alert-danger'>" +
                                   response['error']['comment'] +"</div>");
                         }
                    },
                    error: function (request, status, error) {
                         console.log(request.responseText);
                    }
           });
       });
    })
  </script>
{% endblock scripts %}