{% extends 'applicant/base-auth.html' %}
{% load static %}
{% block title %} Set password {% endblock title %}
{% block styles %}
  <!-- General CSS Files -->
  <link rel="stylesheet" href="{% static 'applicant/assets/css/app.min.css' %}">
  <link rel="stylesheet" href="{% static 'applicant/assets/bundles/jquery-selectric/selectric.css' %}">
  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'applicant/assets/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'applicant/assets/css/components.css' %}">
  <!-- Custom style CSS -->
  <link rel='shortcut icon' type="{% static 'applicant/image/x-icon' href='assets/img/favicon.ico' %}"/>
{% endblock styles %}
{% block content %}
    <section class="section">
      <div class="container mt-5">
        <div class="row">
          <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
            <div class="card card-primary">
              <div class="card-header">
                <h4>Set password</h4>
              </div>
              <div class="card-body">
                <p class="text-muted">Enter Your New Password</p>
                <form method="POST">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="id_new_password1">New Password</label>
                    <input id="id_new_password1" type="password" class="form-control pwstrength" data-indicator="pwindicator"
                      name="new_password1" tabindex="2" required>
                    <div id="pwindicator" class="pwindicator">
                      <div class="bar"></div>
                      <div class="label"></div>
                    </div>
                    <div class="text-danger">{{form.errors.new_password2}}</div>
                  </div>
                  <div class="form-group">
                    <label for="id_new_password2">Confirm Password</label>
                    <input id="id_new_password2" type="password" class="form-control" name="new_password2"
                      tabindex="2" required>
                    <div class="text-danger">{{form.errors.new_password2}}</div>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                      Set Password
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endblock content %}
  {% block scripts %}
 <!-- General JS Scripts -->
  <script src="{% static 'applicant/assets/js/app.min.js' %}"></script>
  <!-- JS Libraies -->
  <script src="{% static 'applicant/assets/bundles/jquery-pwstrength/jquery.pwstrength.min.js' %}"></script>
  <script src="{% static 'applicant/assets/bundles/jquery-selectric/jquery.selectric.min.js' %}"></script>
  <!-- Page Specific JS File -->
  <script src="{% static 'applicant/assets/js/page/auth-register.js' %}"></script>
  <!-- Template JS File -->
  <script src="{% static 'applicant/assets/js/scripts.js' %}"></script>
{% endblock scripts %}